@font-face {
    font-family: Novecento;
    src: url(../fonts/Novecentowide-Normal.otf);
    font-weight: normal;
}
@font-face {
    font-family: Novecento;
    src: url(../fonts/Novecentowide-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Novecento;
    src: url(../fonts/Novecentowide-DemiBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Novecento;
    src: url(../fonts/Novecentowide-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Novecento;
    src: url(../fonts/Novecentowide-Medium.otf);
    font-weight: 600;
}


@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanReg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanRegIta.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanRegIta.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanLig.ttf);
    font-weight: 300;
    
}

@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanLigIta.ttf);
    font-weight: 300;
    font-style: italic;
    
}
@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanBol.ttf);
    font-weight: bold;
    
    
}

@font-face {
    font-family: Vista;
    src: url(../fonts/VistaSanBolIta.ttf);
    font-weight: bold;
    font-style: italic;
    
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4, h5, h6 {
    font-family: Novecento,Helvetica,Arial,sans-serif;
    font-weight: bold;
}






div.container, p , a  {
    font-family: Vista;
}


.navbar, .navbar.navbar-default {
	background: white;
    border-bottom: solid #0092DD;
}

.navbar .btn {
    margin: 0px;
}

.navbar .navbar-brand {
    top:    -5px;
}

ul.nav.navbar-nav.navbar-right a {
    color: #0092DD;
    font-weight: 400;
}



#mapcanvas {
	 margin-top: 60px !important;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; /* adjust top margin to your header height */
}



.navbar-brand img {
    max-width: 124px;
}

.bienvenida {
     text-align: center; 
}
.bienvenida .logo {
    width: 300px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}


.btn:not(.btn-raised), .btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised).btn-default
{
        background: #0092DD;
    color: white ;
}

.btn:not(.btn-raised):not(.btn-link):focus, .btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover
{
        background: #58585A;
}

a.btn.btn-white {
    background: white;
    color: #797979;
}

a.btn.btn-white:hover {
    color: white;
}


.cta-principal h3 {
    text-align: center;
}

#mapcanvas2 {
    height: 500px;
}

#mapcanvas2.leaflet-container {
    background: transparent;
    
}

#mapcanvas2 .leaflet-control-attribution.leaflet-control {
    display: none;
}

#mapcanvas2 .leaflet-popup-content {
    color: #0092DD;
}

#mapcanvas2 .leaflet-popup-content-wrapper {
    border-radius: 0px;
    padding: 20px;
}

.datos{
    margin-top: 60px;
}


#mapcanvas2 a.leaflet-control-zoom-in, #mapcanvas2 a.leaflet-control-zoom-out {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

#mapcanvas2 a.leaflet-control-zoom-in:hover,#mapcanvas2 a.leaflet-control-zoom-out:hover {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

#mapcanvas  .info.leaflet-control {
    background: rgba(255, 255, 255, 0.58);
      padding: 20px;
    margin-right: 0px;
    width: 400px;
    top: -20px;
    max-height: 500px;
    overflow-y: scroll;
}


.search-tooltip a.search-tip {
  
    border-radius: 0px;
    padding: 10px;
    color: #0092DD;
    background: #E7F4F3;
}


.leaflet-control-search .search-input {
    height: 29px;
    border: none;
    border-bottom: solid 1px;
    border-radius: 0px;
}


tr.jsgrid-alt-row, tr.jsgrid-row {
    font-size: 10px;
}


.jsgrid-header-sortable {
    font-size: 10px;
        text-align: center;
}


.jsgrid-grid-body {
        overflow-y: auto;

}

.jsgrid-grid-header {
      overflow-y: auto;
}

h1.center {
    text-align: center;
    margin: 30px 0px;
}

.form-control.input-sm {
    height: 35px;
}


.dataTables_wrapper thead {
    background: #DA9636;
    color: white;
}

tfoot {
       display: table-header-group;
    background: #0092DD;
}


thead .form-group {
    margin-top: 0px !important;
    margin-left: 0px !important;

}

table.DTFC_Cloned thead tr {
    background: transparent;
}

.sidebar-left.collapsed~.sidebar-map .leaflet-left {
    left: 5px;
    top: 40px;
}

.sidebar-tabs {
    background: transparent;
}

.sidebar.leaflet-touch {
    border: 2px solid rgba(0,0,0,0);
        z-index: 1;
    border-radius: 0px;
}

.sidebar-tabs>li, .sidebar-tabs>ul>li {
      width: 90%;
    border: solid rgb(177, 177, 177) 2px;
    background: white;
    border-radius: 5px;
}

.sidebar-left .sidebar-close {
    top: 10px;
}

.sidebar-left .sidebar-content {
  /*  left: 0px !important;*/
    /* right: 0; */
}


.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    /* background-color: #0091DC; */
    color: #0091DC;
}

.cerrar-info {
        position: absolute;
    right: 5px;
    font-size: 12px;
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    margin-left: 0px !important; 
}

.leaflet-control-search.leaflet-control {
    background: white;
    box-shadow: none;
    border: solid rgb(186, 180, 173) 2px;
}

.leaflet-control-search .search-button{
    background-position: 5px 4px !important; 
    height: 30px;
    width: 30px;
}
.info.leaflet-control .fa {
    font-size: 20px;
}


.info.leaflet-control b {
    font-family: Novecento;
    font-size: 10px;
}

.info-icon {
    margin-right: 10px;
    text-align: center;
    display: block;
}


.info.leaflet-control .col-md-6{
    text-align: center;
        min-height: 100px;
}