



 {% extends "base.html" %}
 {% load static %}



  {% block contenido%}

   <link rel="stylesheet" href="{% static 'burbuja/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'burbuja/css/bubble_chart.css' %}">
<div class="container interna">

    <div class="row">

    <div class="col-md-12">
        <div class="panel panel-info animated bounceInUp">

         <div class="panel-heading">
          <h1 style="padding: 37px 17px;padding-bottom: 0px;">Distribución de asentamientos informales</h1>
        </div>      
        
          <div class="panel-body">
            
              <div class="contenido" style="min-height:500px;">

              
            
              <h4>Explicación</h4>     
            <p>Cada circulo respresenta un asentamiento. El color del circulo distigue a los asentamientos del mismo distrito.</p>
            <p>El tamaño de los circulos es dado por la cantidad de viviendas precarias en cada asentamiento.</p>
            <div id="toolbar">
              <a  id="all" class="btn btn-default btn-raised active">Todos los asentamientos</a>
              <a  id="year" class="btn btn-default btn-raised">Asentamientos por caminos</a>

               <a  id="loteamiento" class="btn btn-default btn-raised">Asentamientos por Loteamiento</a>
            </div>
            <div id="vis"></div>

            <div class="footer">
              <p></p>
              <p></p>
            </div>
                  
              

                    
                    



              </div>
            </div>

        </div>  


    

      </div>
    </div>
</div>


<script type="text/javascript">
static = "{% static '' %}";
dominio = "{{ config.dominio }}";
</script>
  <script src="{% static 'burbuja/lib/d3.js' %}"></script>
  <script src="{% static 'burbuja/src/tooltip.js' %}"></script>
  <script src="{% static 'burbuja/src/bubble_chart.js' %}"></script>

 
      {% endblock %}



