 {% extends "base.html" %}
 {% load staticfiles %}



  {% block contenido%}
<div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-info animated bounceInUp">

				 <div class="panel-heading">
					<h1 style="padding: 37px 17px;padding-bottom: 0px;">Gráficos de Barras </h1>
				</div>			
				
				 	<div class="panel-body">
				    
				 			<div class="contenido" style="min-height:500px;">

				 			
				 		
				 					<script id="infogram_0_06160e51-5c89-4303-bf1d-bda06e3aeb65" title="Infografía - Ciudades RAP" src="//e.infogr.am/js/embed.js?2M2" type="text/javascript"></script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a target="_blank" href="https://infogr.am/06160e51-5c89-4303-bf1d-bda06e3aeb65" style="color:#989898!important;text-decoration:none!important;">Infografía - Ciudades RAP</a><br><a style="color:#989898!important;text-decoration:none!important;" href="http://charts.infogr.am/bar-chart?utm_source=embed_bottom&utm_medium=seo&utm_campaign=bar_chart" target="_blank">Create bar charts</a></div>

				     		 		<hr>

				     		 		
				     		 	
          		

				     		 		
				     		 		



						  </div>
						</div>

				</div>	


		

    	</div>
    </div>
</div>
      {% endblock %}