 {% extends "base.html" %}
 {% load staticfiles %}



  {% block contenido%}
<div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-info animated bounceInUp">

				 <div class="panel-heading">
					<h1 style="padding: 37px 17px;padding-bottom: 0px;">Gráficos </h1>
				</div>			
				
				 	<div class="panel-body">
				    
				 			<div class="contenido" style="min-height:500px;">

				 				<div class="row">
								  <div class="col-sm-6">
								    <div class="card card-block">
								    	<img src="/static/img/barras.jpg" class="img-responsive">
								      <div class="contenido">
								    		<h3 class="card-title">Ciudades con asentamientos con mayor...</h3>
										      <p class="card-text">Gráfico de barras de los asentamientos</p>
										      <a href="/graficos-barras" class="btn btn-primary btn-raised">Ver</a>

								    	</div>
								    </div>
								  </div>
								 <div class="col-sm-6">
								    <div class="card card-block">
								    	<img src="/static/img/burbujas.jpg" class="img-responsive">
								    	<div class="contenido">
								    		<h3 class="card-title">Distribución de asentamientos </h3>
										      <p class="card-text">Grafíco de tipo burbuja de los asentamientos</p>
										      <a href="/burbuja" class="btn btn-primary btn-raised">Ver</a>

								    	</div>
								      
								    </div>
								  </div>
								</div>

				 		
				 				

				     		 		<hr>

				     		 		
				     		 	
          		

				     		 		
				     		 		



						  </div>
						</div>

				</div>	


		

    	</div>
    </div>
</div>
      {% endblock %}