{% extends "base.html" %}

{% load staticfiles %}

  {% block contenido%}


<style type="text/css">
body {
    background: #0092DD;
    color: white;
}

</style>


  <div class="container" style="margin-top:80px;">


<div class="row">

	<div class="col-md-5">
		<div id="mapcanvas2"></div>

		<div class="estadisticas"></div>
	</div>
	<div class="col-md-7 bienvenida">  
		<img src="{% static 'img/logo-techo-negativo.png' %}" class="logo">
		<h1>Relevamiento de Asentamientos Precarios</h1>
		<h4>Área metropolitana de Asunción</h4>
		<a class="btn btn-white btn-raised" href="/datos" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left"> Datos </a>
		<a class="btn btn-white btn-raised"> Gráficos</a>
		<a class="btn btn-white btn-raised" href="/mapa"> Mapa</a>
		<a class="btn btn-white btn-raised" href="/metodologia" > Metodología</a>
    

	</div>

</div>


  <div class="row info-portada">

  	 <div class="col-md-4 cta-princpal">

      <div class=" well cuadro">

      <h3>¿Qué es Techo?</h3>
      <p>TECHO es una organización presente en Latinoamérica y el Caribe, que busca superar la situación de pobreza que viven miles de personas en asentamientos precarios, con la participación de vecinos y voluntarios.</p>

      <p>TECHO tiene la convicción de que la pobreza se puede superar definitivamente si la sociedad en su conjunto logra reconocer que este es un problema prioritario y trabaja activamente para resolverlo.</p>
</div>

  </div>
  <div class="col-md-4 cta-principal">

    <div class=" well cuadro">
    <h3>¿QUÉ ES EL RELEVAMIENTO?</h3>
    <div class="list-group">
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="material-icons">face</i>
    </div>
    <div class="row-content">
    
       <h5 class="list-group-item-heading">Paso 1 </h5>

      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
    </div>
  </div>
  <div class="list-group-separator"></div>
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="material-icons">face</i>
    </div>
    <div class="row-content">
     
      <h5 class="list-group-item-heading">Paso 2 </h5>

      <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
    </div>
  </div>
  <div class="list-group-separator"></div>
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="material-icons">face</i>
    </div>
    <div class="row-content">
     
       <h5 class="list-group-item-heading">Paso 3 </h5>

      <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
    </div>
  </div>
  <div class="list-group-separator"></div>
</div>
</div>
     </div>
  <div class="col-md-4 cta-principal">

    <div class=" well cuadro">
    <h3>Informe</h3>
     <p>TECHO es una organización presente en Latinoamérica y el Caribe, que busca superar la situación de pobreza que viven miles de personas en asentamientos precarios, con la participación de vecinos y voluntarios.</p>

     <a href="javascript:void(0)" class="btn btn-raised btn-primary">Descargar Reporte</a>

</div>


  </div>
<script type="text/javascript">
dominio = "{{ config.dominio }}" ;
asentamientos = {{asentamiento|safe}};




</script>

  </div>

 
  


  </div>
  {% endblock %}




     {% block footer%}
         
        <script src="{% static 'js/portada.js' %}"></script>

      {% endblock %}
