 {% extends "base.html" %}
 {% load staticfiles %}



  {% block meta-tags%}
  
    <link rel="stylesheet" href="{% static 'Leaflet-sidebar/css/leaflet-sidebar.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">

   
    <link rel="stylesheet" href="{% static 'leaflet-search/src/leaflet-search.css' %}">

    <link rel="stylesheet" href="{% static 'js/leaflet-loader.css' %}">
    <!-- Fuzzy search -->
     <script src="//cdnjs.cloudflare.com/ajax/libs/fuse.js/1.2.2/fuse.min.js"></script>
      <!-- Sidebar Map -->
    <script src="{% static 'Leaflet-sidebar/js/leaflet-sidebar.js' %}"></script>
      <!-- Search in geojson -->
     <script src="{% static 'leaflet-search/src/leaflet-search.js' %}"></script>




    <style type="text/css">
.sidebar {
    top: 65px;
   
}

footer {
	display: none;
}

    </style>
  {% endblock %}


  {% block contenido%}
	<div id="sidebar" class="sidebar collapsed">
	        <!-- Nav tabs -->
	        <div class="sidebar-tabs">
	            <ul role="tablist">
	               
	                 <li><a href="#settings" role="tab"><i class="fa fa-filter"></i></a></li>
	            </ul>

	            <ul role="tablist">
	                <!-- <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li> -->
	            </ul>
	        </div>

	        <!-- Tab panes -->
	        <div class="sidebar-content">
	            <div class="sidebar-pane" id="home">
	                <h1 class="sidebar-header">
	                    sidebar-v2
	                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
	                </h1>

	            </div>

	           <!-- <div class="sidebar-pane" id="profile">
	                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
	            </div>

	            <div class="sidebar-pane" id="messages">
	                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
	            </div> -->

	            <div class="sidebar-pane" id="settings">

	                <h1 class="sidebar-header">Filtros<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
					<div class="form-group">
					 
					   <h5 class="col-md-12">Seleccioná una ciudad</h5>
					  <select class="form-control" id="sel1">
					  		<option></option>
							<option>Luque</option>
							<option>Fdo de la Mora</option>
							<option>Limpio</option>
							<option>Lambare</option>
							<option>San Lorenzo</option>
							<option>Capiata</option>
							<option>Ñemby</option>
							<option>Mariano Roque Alonso</option>
							<option>San Antonio</option>
					  </select>
					</div>

			
					 <div class="form-group">
				      <h5 class="col-md-12">Tipo de Conexion de Agua</h5>

				      <div class="col-md-12">
				      	<div class="radio radio-primary">
				          <label>
				            <input class="agua" type="radio" name="agua"   value="" >
				           Todos
				          </label>
				        </div>
				        <div class="radio radio-primary">
				          <label>
				            <input class="agua" type="radio" name="agua"   value="conexion irregular" >
				            conexión irregular
				          </label>
				        </div>
				        <div class="radio radio-primary">
				          <label>
				            <input class="agua" type="radio" name="agua"  value="conexión regular">
				            conexión regular
				          </label>
				        </div>
				         <div class="radio radio-primary">
				          <label>
				            <input class="agua" type="radio" name="agua"  value="pozo comunal">
				            Pozo comunal
				          </label>
				        </div>
				         <div class="radio radio-primary">
				          <label>
				            <input class="agua" type="radio" name="agua"  value="pozo privado">
				            Pozo comunal
				          </label>
				        </div>
				      </div>
				    </div>


					 <div class="form-group">
				      <h5 class="col-md-12">Tipo de Conexion Energía Electrica</h5>

				      <div class="col-md-12">
				      	<div class="radio radio-primary">
				          <label>
				            <input class="energia" type="radio" name="energia" id="irregular-energia" value="" >
				            Todos
				          </label>
				        </div>
				        <div class="radio radio-primary">
				          <label>
				            <input class="energia" type="radio" name="energia" id="irregular-energia" value="irregular" >
				            Conexión irregular
				          </label>
				        </div>
				        <div class="radio radio-primary">
				          <label>
				            <input class="energia" type="radio" name="energia" id="ande" value="ande">
				            ANDE
				          </label>
				        </div>
				      </div>
				    </div>


	            </div>
	        </div>
	</div>


<style type="text/css">
.wrapper-loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

</style>

   <div id="mapcanvas" class="sidebar-map"></div>
<div id="canvasloader-container" class="wrapper-loader">
</div>
<div id="sidebar-wrapper">
           <!-- <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul> -->
        </div>



  
  {% endblock %}




     {% block footer%}
            <script src="{% static 'js/leaflet-loader.js' %}"></script>
            <script type="text/javascript">dominio = "{{ config.dominio }}";</script>
        <script src="{% static 'js/main.js' %}"></script>
      {% endblock %}
