 {% extends "base.html" %}
 {% load staticfiles %}



  {% block contenido%}
<div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-info animated bounceInUp">

				 <div class="panel-heading">
					<h1 style="padding: 37px 17px;padding-bottom: 0px;">DISE&Ntilde;O METODOL&Oacute;GICO </h1>
</div>			
				
				 	<div class="panel-body">
				    
				 			<div class="contenido">

				 		
<h2><strong>Metodolog&iacute;a </strong></h2>
<p>La investigaci&oacute;n tiene por objetivo precisar la cantidad de asentamientos existentes en el periodo de enero a octubre de 2015, en las ciudades que componen el &Aacute;rea Metropolitana de Asunci&oacute;n conformada por Capiat&aacute;, Fernando de la Mora, Limpio, Luque, Lambar&eacute;, Mariano Roque Alonso, &Ntilde;emby, San Antonio, San Lorenzo y Villa Elisa obteniendo su localizaci&oacute;n geogr&aacute;fica y ciertas caracter&iacute;sticas socio-territoriales de los mismos.</p>
<p>Como estrategia metodol&oacute;gica se opta por un dise&ntilde;o cuantitativo ya que actualmente las cifras respecto a la problem&aacute;tica no permiten contar con datos precisos que contengan caracter&iacute;sticas respecto al fen&oacute;meno en s&iacute;. Este abordaje permite presentar la problem&aacute;tica mediante datos estad&iacute;sticos simples, que describan especificidades. Haciendo la salvedad que el estudio puede ser visto, simb&oacute;licamente como una fotograf&iacute;a del problema en ese momento, sin dejar de comprenderlo como un fen&oacute;meno transformable con el paso del tiempo.</p>
<p>En el distrito de Asunci&oacute;n el estudio fue abordado desde el dise&ntilde;o cualitativo, al tener en cuenta que las caracter&iacute;sticas del territorio y la obtenci&oacute;n de informaci&oacute;n a trav&eacute;s de fichas de asentamiento no reflejaba la realidad del sector.</p>
<h2><strong>Unidad de An&aacute;lisis</strong></h2>
<p>La unidad de an&aacute;lisis del estudio es el asentamiento precario. TECHO entiende a los asentamientos como sectores informales de las ciudades que se constituyeron mediante distintas estrategias de ocupaci&oacute;n del territorio, que presentan diferentes grados de precariedad y hacinamiento, con d&eacute;ficit en el acceso formal a los servicios b&aacute;sicos y una situaci&oacute;n de dominio irregular en la tenencia del suelo.</p>
<p>Para la aplicaci&oacute;n de la definici&oacute;n fue operativizada como grupo de ocho o m&aacute;s familias, que no cuentan con acceso regular a uno de los servicios b&aacute;sicos (desag&uuml;e cloacal, agua potable, energ&iacute;a el&eacute;ctrica por medidor domiciliario) y que se encuentran en una situaci&oacute;n irregular de tenencia del terreno.</p>
<h2><strong>Instrumento de levantamiento de informaci&oacute;n </strong></h2>
<p>El instrumento utilizada para la recolecci&oacute;n de datos fue la ficha o encuesta semi estructura que releva caracter&iacute;sticas principales de los territorios. La ficha o encuesta fue aplicada en las diez ciudades que conforman el Gran Asunci&oacute;n, para el distrito capital se realizaron grupos focales mediante gu&iacute;as de preguntas, con temas consultados en las fichas pero sin la precisi&oacute;n de cada asentamiento, ya que en estas actividades fueron invitados dirigentes vecinales de distintas zonas del distrito.</p>
<p>Se aplic&oacute; una encuesta por asentamiento, en donde las informaciones obtenidas fueron brindadas por uno o varios referentes comunitarios, pudiendo ser integrantes de las organizaciones vecinales presentes en el barrio o pobladores antiguos que tienen informaci&oacute;n de recorrido hist&oacute;rico de la comunidad. La duraci&oacute;n promedio de la aplicaci&oacute;n fue de 40 minutos.</p>
<p>Aprovechando el aporte que brinda la tecnolog&iacute;a, las ubicaciones geogr&aacute;ficas fueron tomadas mediante puntos brindados por GPS.</p>
<p>La implementaci&oacute;n de las fichas y digitalizaci&oacute;n de datos, estuvo a cargo de m&aacute;s de 500 voluntarios organizados por coordinadores de cada ciudad y por tem&aacute;tica (encuestas, georreferencia y procesamiento de datos), estos a su vez dependientes de la Direcci&oacute;n del Relevamiento. Tanto voluntarios como coordinadores fueron capacitados, la mayor&iacute;a del equipo contaba con experiencia de trabajo en asentamientos.</p>

				     		 		<hr>

				     		 		
				     		 	
          		

				     		 		
				     		 		



				  </div>
				</div>

		</div>	


		

    </div>
     </div>

      {% endblock %}